<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BurnoutGaming</title>
    <!--<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />     this is no longer needed-->
    <link rel="stylesheet" href="~/css/Main.css" /><!--Main.css is Burnoug Gamings css.  site.css is the original.-->
</head>
<body>
    <header>
            <div class="topnav" id="myTopnav">
                <a class="active" asp-area="" asp-controller="Home" asp-action="Index"><i class="fas fa-home" style="color:white; display; inline"></i>BurnoutGaming</a>
                    <a class="" asp-area="" asp-controller="Home" asp-action="Gamers">About Us</a>
                    <a class="" asp-area="" asp-controller="Home" asp-action="Partners">Goals</a>
                    <a class="" asp-area="" asp-controller="Home" asp-action="Login"><i class="far fa-user" 
                    style="color: white; display: inline;"></i>Login/Sign Up</a>
                    <div class="dropdown">
                    <i class="fa fa-caret-down"></i>
             <a href="javascript: void(0)" style="font-size:15px;" class="icon" onclick="topNav()">&#9776;</a>
             <script>
                 function topNav(){
                     var x = document.getElementById("myTopnav");
                     if (x.className === "topnav") {
                         x.className += " responsive";
                    } else {
                         x.className = "topnav";
                        }
                    }
                    
             </script><!--works with the javascript here but not in the seperate code.  would like to figure out why.-->

                    </div>
             </div>

    </header>
 
      
<span class="header">

</span>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <div class="footer">
  <img class="footer" src="Images/BurnoutGaming1line.png">
  <div class="footertext">
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
