@{
    Layout = "_NoNavLayout";
}
<html>
<Title>5under5truck</Title>


<body>
    <main>
        <div class="txt" style="min-height:200px" ;>
            <img src="~/Images/5under5truck2.jpg" alt="gamer and baby" style="width:200px; height:200px; float:left; padding:5px;" />
            Hey Guys, it's your favorite non-professional gamer and creator of Burnout Gaming and this is a sample page of what a partner page might
            look like.  If you are a streamer with the Burnout crew, you will be able to login and share some info that will show up on this page about yourself.
            I want my streamers to be able to go in and let people know they are going live, share any information about themselves, give advice to gamers or
            streamers and also gain access to some of our logos, overlays, etc that they can use for thier stream. My goal is to gain some team partnerships and
            affiliations so any other approved streamers can easily start finding ways to make a little extra cash without any hassle.  This bio page will also
            allow other streamers to show off any partnerships they have just by simply submitting them.  Down the line I would like to also add some cookies to
            the page so that people searching for streamers or thier affiliate partners can use thier reference links as landing pages.  This not only helps you
            promote your product but also maybe bring a few extra followers.  This will take some time to do so bare with me as we get up and running..
        </div>
    </main>
    <div class="cols">
        <div class="row">
            <div class="column">
                Schedule<br>
                Let everyone know when you will be live or posting videos next!
            </div>
            <div class="column">
                Affiliations/Partnerships/Sponsorships<br>
                Your fans want to be just like thier favorite gamers.  Let them know what companies you love and represent.<br />
                <ul>
                    <li><a href="https://drinkmaw.com/?rfsn=5579880.322b8e">Maw Energy</a></li>
                    <li><a href="https://bit.ly/3nF2gPj">Rogue Energy</a></li>
                    <li><a href="https://metameals.com?p=Hktlcl7ad">MetaMeals</a></li>
                    <li><a href="https://store.streamelements.com/5under5truck">Burnout Gaming Merch</a></li>
                    <li><a href="https://streamlabs.com/5under5truck/merch">More Merch</a></li>

                </ul>
            </div>
            <div class="column">
                My Goals for this site<br>
                <p>
                    I want to create a site where gamers and streamers can log in and update thier profiles and share updates with the rest of the crew.  I want to utilize cookies and session
                    variables to give the users a personalized experience as well as use the gamers and streamers profiles to create data that can be
                    pulled from a database.  I have done this on past websites, but I want to use that experience to grow this site even more.  I want to use
                    landing pages and cookie handling to bring other outside visitors to the site that are looking for a group like Burnout Gaming or products
                    that our streamers are promoting.  All this will take some time but one step at a time it will get there.
                </p>
            </div>
        </div>

</body>
</html>
