@{
    Layout = "_NoNavLayout";
}
<html>



<body>
        <div class="txt" style="min-height:200px" ;>
            <img src="~/Images/5under5trucklogojpg.jpeg" alt="gamer and baby" id="profilepic" />
        </div>

    <div class="links">
        <div class="social-links">
            <h3>My Social Links</h3>
            <ul
                <li><a href="https://twitch.com/5under5truck">5under5truck's Twitch</a></li>
                <li><a href="https://twitter.com/5under5truck">5under5truck's Twitter</a></li>
                <li><a href="https://www.youtube.com/channel/UCrm5-mQw-JDkaY9qOHLMXeA">5under5truck's YouTube</a></li>
                <li><a href="https://discord.gg/WySdy46nDc">Burnout Gaming Discord</a></li>

            </ul>

        </div>
        <div class="business-links">
            <h3>My partnerships and affiliations</h3>
                <ul>
                    <li><a href="https://drinkmaw.com/?rfsn=5579880.322b8e">Maw Energy</a></li>
                    <li><a href="https://bit.ly/3nF2gPj">Rogue Energy</a></li>
                    <li><a href="https://metameals.com?p=Hktlcl7ad">MetaMeals</a></li>
                    <li><a href="https://store.streamelements.com/5under5truck">Burnout Gaming Merch</a></li>
                    <li><a href="https://streamlabs.com/5under5truck/merch">More Merch</a></li>
                </ul>

        </div>
        <div class="other-links">
        </div>

    </div>

</body>
</html>
