@{
    Layout = "_NoNavLayout";
}
<html>
<head>
        <link rel="stylesheet" href="~/css/Links.css" /><!--Main.css is Burnout Gamings css.  site.css is the original.-->

</head>


<body>
        <div class="txt" style="min-height:200px" ;>
            <img src="~/Images/5under5trucklogojpg.jpeg" alt="gamer and baby" id="profilepic" />
        </div>

    <div class="links column">
        <div class="social-links">
            <h2>My Social Links</h2>
                <div class="individual-links icons"><a href="https://twitch.com/5under5truck"><div class="icon-text">5under5truck's Twitch</div></a></div>
                <div class="individual-links icons"><a href="https://twitter.com/5under5truck"><div class="icon-text">5under5truck's Twitter</div></a></div>
                <div class="individual-links icons"><a href="https://www.youtube.com/channel/UCrm5-mQw-JDkaY9qOHLMXeA"><div class="icon-text">5under5truck's YouTube</div></a></div>
                <div class="individual-links icons"><a href="https://discord.gg/WySdy46nDc"><div class="icon-text">Burnout Gaming Discord</div></a></div>

        </div>
        <div class="business-links">
            <h2>My partnerships and affiliations</h2>
                <div class="individual-links"><a href="https://drinkmaw.com/?rfsn=5579880.322b8e" ><img src="~/Images/02.png" /></a></div>
                   <div class="individual-links"><a href="https://bit.ly/3nF2gPj"><img src="~/Images/Rogue Energy-red.png" /></a></div>
                    <div class="individual-links"><a href="https://metameals.com?p=Hktlcl7ad"><img src="~/Images/Metameals logo.png" /></a></div>
                    <div class="individual-links icons"><a href="https://store.streamelements.com/5under5truck"><img src="~/Images/FlameIconBlack112x112.png"><div class="icon-text">Burnout Gaming Merch</div></a></div>
                    <div class="individual-links icons"><a href="https://streamlabs.com/5under5truck/merch"><img src="~/Images/FlameIconBlack112x112.png"><div class="icon-text">More Merch</div></a></div>
                

        </div>
        <div class="other-links">
        </div>

    </div>

</body>
</html>
