@{
    ViewData["Title"] = "Welcome to Burnout Gaming!";
}
<html>
<body>
<main>
      <div class="txt" style="min-height:200px";>
      <img src="~/Images/5under5truck2.jpg" alt="gamer and baby" style="width:200px; height:200px; float:right; padding:5px;" />
      Hey Guys, it's your favorite non-professional gamer and creator of Burnout Gaming and this is a sample page of what a partner page might
      look like.  If you are a streamer with the Burnout crew, you will be able to login and share some info that will show up on this page about yourself.
      I want my gamers to be able to go in and let people know when they are gaming, what they're goals are, etc.  My goal is to build a crew of like minded individuals
      so that way they can make more like minded friends because everyone knows gaming with freinds is better than going it alone.  This will take some time to do so 
      bare with me as we get up and running.  In the end, I would like to create personalized profiles where people can make the page thier own and give it their own personal
      touch.  
     </div>
    
  </main>
 <div class="cols" >
<div class="row">
  <div class="column">Let us know what games you are interested.<br>
    Let everyone know what games you are interested in or playing. </div>
  <div class="column">Accomplishments/Goals<br>
  Letting us know what your accomplishments and goals in gaming are will help you connect to other like minded gamers.<br />
  <ul>
      <li>ranked Diamond in Rocket League</li>
      <li>Build a COD Team for competitive play!</li>
      <li>Create a team of like minded gamers for MMO games and use that to create a Burnout Gaming crew!</li>
  </ul>
  </div>
  <div class="column">
      My Goals for this site<br>
      <p>I want to create a site where gamers and streamers can log in and update thier profiles and share updates with the rest of the crew.  I want to utilize cookies and session
      variables to give the users a personalized experience as well as use the gamers and streamers profiles to create data that can be
      pulled from a database.  I have done this on past websites, but I want to use that experience to grow this site even more.  I want to use
      landing pages and cookie handling to bring other outside visitors to the site that are looking for a group like Burnout Gaming or products
      that our streamers are promoting.  All this will take some time but one step at a time it will get there.</p>
  </div>
</div>

</body>
</html>