@{
    ViewData["Title"] = "Welcome to Burnout Gaming!";
}
<html>
<body>
<main>
   <div class="img"><img src="Images/Burnout Gaming With Face Horizontal.png"  style=" margin-top: auto; margin-left: 25%; width: 100%; max-height: 400px; object-fit: cover; " >
      <div class="txt">
      Burnout Gaming is a gaming community designed for gamers and streamers that want to have a good time.
      We are made up of casually competitve gamers.  We like to win, but more than anything, we have fun.
      Our goal in Burnout Gaming is to build a fun relaxed community for our gamers.<br /> Our goal for our partners is 
      to help our fellow streamers grow, learn new ideas and techniques in streaming and help use affilate marketing to 
      make some extra money on the side.  The streaming community can be a lot of fun but can be profitable if utilized 
      well.
      </div>
    </div>
  </main>
 <div class="cols" >
<div class="row">
  <div class="column">Gamers<br>
    Click here to gain access to our discord page and make new friends, team up and hopefully rise through the ranks as well. </div>
  <div class="column">Partners<br>
  Check us out if you are interested in partnering with Burnout Gaming.  We have logos, overlays, and tons of other help for our partners!
  </div>
  <div class="column">
      More about Burnout Gaming<br>
      Even if your not interested in partnering we still have ways to help.  You can always check us out for information and advice
      on everything from streaming to tech questions to gaining partnerships and affiliates with other companies!  
      <p>
      We do have some rules and guidelines for anyone joining us or that wants to stream with Burnout Gaming.
      Basically, we want to keep things relaxed. we don't want toxic gamers.  We also want to keep politics out of the
      convo and we want to be respectful to everyone.  Please avoid deragatory remarks and don't be toxic. You
      may be kicked from the group if this becomes a problem.  We're all here to get away from the stresses of life
      so please keep that to yourself.</p>
  </div>
</div>
</div>


  
</div>

</body>
</html>