@{
    ViewData["Title"] = "Welcome to Burnout Gaming!";
}
<html>
<body>
<main>
    <img src="~/Images/5under5truck2.jpg" alt="gamer and baby" style="padding:5px; float:right; width:200px; height:200px;" />
      <div class="txt">
      Hey Guys, it's your favorite non-professional gamer and creator of Burnout Gaming and this is a sample page of what a partner page might
      look like.  If you are a streamer with the Burnout crew, you will be able to login and share some info that will show up on this page about yourself.
      I want my streamers to be able to go in and let people know they are going live, share any information about themselves, give advice to gamers or
      streamers and also gain access to some of our logos, overlays, etc that they can use for thier stream. My goal is to gain some team partnerships and
      affiliations so any other approved streamers can easily start finding ways to make a little extra cash without any hassle.  This bio page will also
      allow other streamers to show off any partnerships they have just by simply submitting them.  Down the line I would like to also add some cookies to
      the page so that people searching for streamers or thier affiliate partners can use thier reference links as landing pages.  This not only helps you
      promote your product but also maybe bring a few extra followers.  This will take some time to do so bear with me as we get up and running.
      </div>
    
  </main>
 <div class="cols" >
<div class="row">
  <div class="column">Schedule<br>
    Let everyone know when you will be live or posting videos next! </div>
  <div class="column">Affiliations/Partnerships/Sponsorships<br>
  Your fans want to be just like thier favorite gamers.  Let them know what companies you love and represent.<br />
  <ul>
      <li><a href="https://drinkmaw.com/?rfsn=5579880.322b8e">Maw Energy</a></li>
      <li><a href="https://bit.ly/3nF2gPj">Rogue Energy</a></li>
      <li><a href="https://metameals.com?p=Hktlcl7ad">MetaMeals</a></li>
  </ul>
  </div>
  <div class="column">
      More about Burnout Gaming<br>
      Even if your not interested in partnering we still have ways to help.  You can always check us out for information and advice
      on everything from streaming to tech questions to gaining partnerships and affiliates with other companies!  
      <p>
      We do have some rules and guidelines for anyone joining us or that wants to stream with Burnout Gaming.
      Basically, we want to keep things relaxed. we don't want toxic gamers.  We also want to keep politics out of the
      convo and we want to be respectful to everyone.  Please avoid deragatory remarks and don't be toxic. You
      may be kicked from the group if this becomes a problem.  We're all here to get away from the stresses of life
      so please keep that to yourself.</p>
  </div>
</div>

</body>
</html>